.twitter_main_button img {
    width: 32px;
    height: 32px;
    margin: 8px;
}

ul.mainmenu {
    display: block;
    margin-left: 0px;
    margin-bottom: 0px;
    list-style: none;
}

.mainmenu li.current_category {
    border-right: solid 4px dodgerblue;
    background-color: rgba(112, 120, 128, 0.4);
}

.mainmenu li {
    display: block;
    padding: 10px 20px 10px 10px;
    border-bottom: 1px solid #404850;
    line-height: 200%;
    white-space: nowrap;
    cursor: pointer;
}

.mainmenu li img {
    display: none;
}

.mainmenu li:hover img {
    display:inline;
}

.tux {
    max-width: 1000px;
    margin: 10px auto 10px auto;
    padding: 0;
}

.tux img {
    max-width: 200px;
    width: 100%;
    margin: 10px;
    display: inline-block;
}

.tux .desc p {
}

.tux .clear {
    clear: both;
}

.pankuzu img {
    vertical-align: middle;
    margin: 0 4px;
}

.contents h2 {
    padding-left: 30px;
    font-size: x-large;
}

.header-menu {
    width: 1196px;
    margin: 0px auto;
    padding: 10px 0px;
    background-color: rgba(30, 40, 50, 0.6);
}

.header-menu li {
    display: inline;
    padding: 10px;
    margin: 0px -1px;
}

.cp_navi_1 {
    display: block;
    float: right;
}

.cp_navi_2 {
    display: none;
}
/**********************************************************************************************
 * インデックスページ
 **********************************************************************************************/
.toppageh3 {
    margin: 10px;
    padding: 30px 50px 10px 50px;
    font-size: x-large;
}

.to_toc {
    float: right;
    font-size: large;
    margin: 30px 60px 0 0;
}

.select_order {
    margin: 30px 10px 0 0;
}

.toppagetoc ul {
    margin: 10px 0px 50px 0px;
    list-style: none;
}

.toppagetoc ul li {
    border-radius: 5px 5px 0 0;
    margin: 20px 60px;
    padding: 0px;
    border: 1px solid #303840;
}

.toppagetoc ul h4 {
    border-radius: 5px 5px 0 0;
    padding: 10px;
    background-color: #505860;
}

.toppagetoc ul li ul {
    margin: 0;
    padding: 0;
}

.toppagetoc ul li ul li {
    float: none;
    margin: -1px;
    padding: 10px;
    border-radius: 0;
    background-color: #202830;
}

.toppagetoc ul li ul li h4 {
    padding: 0;
    background-color: rgba(0, 0, 0, 0.0);
}

.no_entries {
    text-align: center;
}
/**********************************************************************************************
 * 記事の目次
 **********************************************************************************************/
.contents .article {
    padding-bottom: 30px;
}

.contents .article .outline {
    width: 60%;
    margin: 30px auto;
    padding-bottom: 30px;
}

.contents .article .outline h4 {
    padding: 0;
    margin: 30px 0px 5px 40px;
}

.contents .article .outline ul {
    padding: 5px 20px 5px 20px;
    list-style: none;
}

.contents .article .outline li {
    line-height: 180%;
}

.contents .article .outline ul ul {
    padding: 0;
    list-style: none;
}


/**********************************************************************************************
 * 他の記事へのリンク
 **********************************************************************************************/
.contents .nav {
    background-color: rgba(30, 40, 50, 0.5);
    margin-top: 20px;
}

.contents .nav ul li {
    padding: 0;
    margin: 0;
    font-size: small;
}

.contents .nav ul {
    margin: 0;
    padding: 0;
}

.contents .nav ul li h4.toc-category {
    background-color: rgba(100, 116, 124, 0.7);
    padding: 8px 14px;
    width: 210px;
}

.contents .nav ul li ul li {
    padding: 10px;
}

.contents .nav ul li ul li:hover {
    background-color: rgba(110, 120, 130, 0.2);
    cursor: pointer;
}

.latest_article_lite {
    margin: 0;
    padding: 10px;
    font-size: small;
}

.latest_article_lite:hover {
    background-color: rgba(110, 120, 130, 0.2);
    cursor: pointer;
}

.latest_article_lite h4 {
    font-size: normal;
    font-weight: normal;
}

.latest_article_lite .date_article {
    font-size: 80%;
}

.latest_article_lite .category_article {
    margin: 1px;
}

.latest_article_lite .category_article_piece {
    padding: 2px;
    margin: 1px;
    border-radius: 2px;
    font-size: x-small;
    color: white;
}

.latest_article_lite .comments_count {
    font-size: 80%;
    margin: 3px;
}

/**********************************************************************************************
 * 記事
 **********************************************************************************************/
.contents .toc {
    padding-left: 10px;
}

.contents .toch3 {
    margin: 0;
    padding: 10px 10px 10px 30px;
    background-color: #202830;
}


.contents .toc a {
    text-decoration: none;
}

.contents .toc li {
    list-style-image: url("../images/listmark.png");
    line-height: 180%;
}

.contents .toc ul {
    padding-left: 1em;
}

.contents .toc .datetime {
    font-size: small;
    margin-left: 10px;
}

.contents .article dl {
    padding: 0px 8px 4px 60px;
    margin: 0;
}

.contents .article dt {
    padding: 15px 0 10px 0;
    font-weight: bold;
}

.contents .article dd {
    line-height: 180%;
    margin: 0px 40px 0px 40px;
}

.contents .article .syntax, .contents .article .sample {
    margin: 5px 60px;
    padding: 20px;
}

iframe.google-maps {
    display: block;
    width: 600px;
    height: 450px;
    margin: 10px auto;
}


/**********************************************************************************************
 * 前後の記事
 **********************************************************************************************/
.contents .pagenavi {
    margin: 10px 10px;
}

/**********************************************************************************************
 * ページネーション
 **********************************************************************************************/

.contents .pagination {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 30px;
}

.contents .pagination ul {
    display: inline-block;
    margin: 20px;
}

.contents .pagination .leftend {
    border-radius: 5px 0 0 5px;
}

.contents .pagination .rightend {
    border-radius: 0 5px 5px 0;
    border-left: none;
}

.contents .article .datetime {
    padding: 0 0px 0 60px;
    margin: 0;
}

/**********************************************************************************************
 * 記事
 **********************************************************************************************/
.contents .article h3 {
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
    padding: 4px 60px 4px 60px;
    margin: 4px 0 0 0;
}

.contents .article h4 {
    font-weight: bold;
    font-size: x-large;
    padding:8px 8px 8px 54px;
    margin: 26px 0 0 0;
}

.contents .article h4 img {
    vertical-align: middle;
    margin-left:2px;
    margin-right:2px;
}

.contents .article h5 {
    font-weight: bold;
    font-size: large;
    padding: 8px 8px 8px 60px;
    margin: 12px 0px 3px 0px;
}


.contents .article h6 {
    font-weight: bold;
    font-size: medium;
    padding: 8px 8px 8px 60px;
    margin: 12px 0px 12px 0px;
}

.contents .article .helloimage img {
    display: block;
    margin: 30px auto;
    max-width: 90%;
}

.contents .article p {
    padding: 15px 60px 10px 60px;
    margin: 0;
    line-height: 180%;
}

.contents .article .code {
    padding: 0;
    margin: 10px 70px 10px 70px;
    border-radius: 2px;
    box-shadow: 3px 5px 20px -10px rgba(0, 0, 0, 0.5);
}

.contents .article li {
    margin-left: 30px;
    line-height: 180%;
}

.contents .article .code .code-header {
    margin: 0;
    padding: 0px;
    border-radius: 1px 1px 0 0;
}

.contents .article .code .code-header h5 {
    font-size: small;
    font-weight: bold;
    margin: 0;
    padding: 10px;
}

.contents .article pre {
    padding: 8px;
    overflow-x: scroll;
}

.contents .article ul {
    padding: 10px 60px 10px 60px;
    margin: 5px;
}

.contents .article ol {
    padding: 10px 60px 4px 60px;
    margin: 5px;
}

.contents .article ol ol, .contents .article ol ul, .contents .article ul ol, .contents .article ul ul {
    padding: 4px 0px 4px 18px;
    margin: 0;
}

.contents .article .table-wrapper {
    //position: relative;
    max-width: 100%;
}
.contents .article .table-scroll {
    overflow-x: auto;
}

.contents .article table {
    max-width: 100%;
    margin: 10px 60px;
    border-collapse: collapse;
    border: 2px solid #404850;
}

.contents .article table tr {
    padding: 0;
    margin: 0;
}

.contents .article table th {
    border-top: 1px solid #606870;
    border-left: 1px solid #606870;
    border-right: 1px solid #606870;
    border-bottom: 2px solid #9090FD;
    background-color: rgba(40, 40, 50, 0.5);
    padding: 10px;
    margin: -1;
}

.contents .article table td {
    border-top: 1px solid #606870;
    border-left: 1px solid #606870;
    border-right: 1px solid #606870;
    border-bottom: 1px solid #606870;
    padding: 10px;
    margin: -1;
}

.contents .article .figure-image {
    margin: 40px auto 10px auto;
    display: block;
    max-width: 80%;
    text-align: center;
}

.contents .article .figure-image .figure {
    max-width: 100%;
    box-shadow: 1px 1px 10px -5px rgba(0, 0, 0, 0.8);
}

.contents .article .figure-image .figure-flat {
    max-width: 100%;
}

.contents .article .figure-image .figcaption {
    margin-left: 60px;
    margin-top: 16px;
    text-align: center;
}

.contents .article blockquote {
    margin: 10px 60px 4px 57px;
    padding: 10px 35px;
    /*border: 1px solid #606870;*/
    border-left: 3px solid #606870;
    background-color: #404850;
}

.contents .article blockquote p {
    margin: 10px 0;
    padding: 0;
}

.contents .article blockquote ul {
    margin: 5px 0 5px 30px;
    padding: 0;
}

.contents .article .twitter-tweet {
    margin: 20px 60px;
    max-width: 100%;
}

.contents .article iframe {
    margin: 20px 60px;
}

.contents .article .column {
    background-image: url("../images/column-header.svg");
    background-repeat: no-repeat;
    background-position: top left;
    border-radius: 3px;
    margin:60px;
    padding: 0;
}

.contents .article .column p {
    margin: 30px;
    padding: 0;
}

.contents .article .column h5 {
    margin: 20px 60px;
    padding: 0;
}

.contents .prev_link_box {
    max-width: 30%;
    float: left;
}

.contents .next_link_box {
    max-width: 30%;
    float: right;
}

.contents .inn {
    float: right;
    margin: -30px 55px 30px 25px;
}

.contents .comment_block {
    padding: 20px 60px 20px 60px;
    margin-top: 10px;
}

.contents .comment_block .comment_switch {
    margin: 0px -4px 0px -4px;
}

.comment_block h4 {
    font-size: large;
    font-style: italic;
    font-weight: bold;
}

.comment_block input {
    margin: 4px;
    padding: 8px;
    width: 300px;
}

.comment_block textarea {
    margin: 4px 4px 10px 4px;
    padding: 8px;
    width: 600px;
}

.comment_block button {
    margin: 4px 4px 10px 4px;
    padding: 8px;
    width: 120px;
    white-space: nowrap;
}

.contents .comment_block .post_block {
    margin: 10px 0 10px 0;
}

.contents .comment_block .no_comments {
    margin: 30px 10%;
    padding: 30px 10%;
    text-align: center;
    background-color: #DDDDDD;
    color: #444444;
}

.contents .comment_block .comment {
    //border-top: 1px solid #EFDEDE;
    padding: 20px 0 10px 0;
    margin: 5px 0 5px 0;
}

.contents .comment .comment_user {
    display: inline;
    margin: 4px;
    font-weight: bold;
    color: #402020;
}

.contents .comment .comment_mail {
    display: inline;
    margin: 4px;
    color: #807070;
}

.contents .comment .comment_date {
    display: inline;
    color: #807070;
}

.contents .comment .comment_text {
    display: block;
    margin: 8px 4px 8px 4px;
}

.contents .comment .reply_button {
    display: inline-block;
    border: 1px solid #DECDCD;
    background-color: salmon;
    border: 0;
    margin-left: 10px;
    padding: 0 2px 0 2px;
    color: #EEEEDD;
    font-size: small;
    width: 40px;
}

.contents .comment .delete_button {
    display: inline-block;
    border: 1px solid #DECDCD;
    background-color: royalblue;
    border: 0;
    margin-left: 10px;
    padding: 0 2px 0 2px;
    color: #EEEEDD;
    font-size: small;
    width: 40px;
}

.contents .comment .comment_reply {
    margin-top: 0;
    padding-top: 0;
}

.contents .comment .comment_reply .comment {
    margin: 0;
    padding: 0;
}

.contents .comment .comment_reply .comment .comment_box {
    margin-top: 0;
}

.latest_article {
    margin: 10px 0px 10px 0px;
    padding: 15px 60px 15px 60px;
}

.latest_article h5 {
    font-size: large;
}

.block_link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.latest_article .date_article {
    font-size: small;
    text-decoration: none;
}

.latest_article p {
    line-height: 180%;
}

.latest_article .category_article {
    display: inline;
    margin: 10px 10px 10px 0;
}

.latest_article .category_article .category_article_piece {
    padding: 0 3px 0 3px;
    border-radius: 3px;
    margin: 0 1px 0 1px;
    display: inline;
}

.latest_article .category_article .category_article_piece:hover {
    -webkit-filter: brightness(1.2);
    -moz-filter: brightness(1.2);
    -o-filter: brightness(1.2);
    -ms-filter: brightness(1.2);
    filter: brightness(1.2);
}

.latest_article .comments_count {
    font-size: medium;
    margin: 8px;
}
/**********************************************************************************************
 * シェアボタン
 **********************************************************************************************/
.sharebuttons {
    margin: 20px auto;
    text-align: center;
    margin: 0;
    padding: 0;
}

.sharebuttons h5 {
    margin: 5px;
}

.sharebuttons img {
    height: 40px;
    width: 40px;
}

.sharebuttons a {
    margin: 0;
    padding: 0;
}

.contents .topsharebutton {
    float: right;
    margin: 30px 40px;
}

.contents .topsharebutton img {
    height: 24px;
    width: 24px;
    margin: 0;
    padding: 0;
}

