/**********************************************************************************************
 * 全体
 **********************************************************************************************/
body {
    background-color: #345656;
    background-image: url("images/bgsand2.png");
    color: white;
    font-family: sans-serif;
}

a {
    color: #9098E0;
    text-decoration: none;
    word-break: break-all;
    margin-bottom: -1px;
}

a:visited {
    color: #9098E0;
}

a:hover {
    color: #B0B9F0;
}

p {
    text-indent: 1em each-line;
}

.code-span {
    font-family: monospace;
    background-color: rgba(50, 70, 90, 0.2);
    margin: 3px;
    padding: 1px 5px;
    /* border: 1px solid #505860; */
    border-radius: 3px;
    background-color: #505860;
    /* box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.7) inset; */
}

.come {
    color: #E08880;
    font-size: 80%;
}

/**********************************************************************************************
 * ヘッダー
 **********************************************************************************************/
.header {
    margin-top: 2px;
    color: antiquewhite;
}

.header h1 {
    color: #EEEDFE;
    font-size: x-large;
    font-weight: normal;
    font-style: normal;
    display: inline;
    white-space
}

.header p {
    font-size: small;
    margin: 5px 0;
}

.header h1 a {
    color: #D0E0F0;
}

.header h1 a:visited {
    color: #D0E0F0;
}

.header h1 a:hover {
    color: white;
}

.header .header-inner .twitter_main_button {
    float: right;
}

.header .header-inner h1 img {
    height: 28px;
    margin-bottom: -12px;
}

/**********************************************************************************************
 * ナビ
 **********************************************************************************************/
.contents .nav {
    border: 1px solid #505960;
    box-shadow: 1px 1px 10px -5px rgba(0, 0, 0, 0.5);
}

.contents .nav h3 {
    background-color: #202830;
    color: white;
    border-bottom: 1px solid #505860;
    padding: 3px 3px 3px 14px;
}

.contents .nav ul {
    list-style: none;
}

.contents .nav ul li h4.toc-category {
    background-image: url("images/toch4bg.png");
    color: #D8E0E8;
}

.contents .nav ul li ul li {
    border-bottom: 1px solid #505860;
    padding: 8px 14px;
}

.contents .nav a {
    color: #D0E0F0;
}

.contents .nav a:hover {
    color: #D0E0F0;
}

.contents .nav .datetime {
    font-size: small;
    color: #D0E0F0;
}

/**********************************************************************************************
 * レイアウト要素
 **********************************************************************************************/
img.topimage {
    position: absolute;
    bottom: 10px;
    right: 10px
}


/**********************************************************************************************
 * 最近の記事
 **********************************************************************************************/
.latest_article {
    border-top: 1px solid #404850;
}

.latest_article h5 {
    font-size: medium;
    font-weight: bold;
}
    
.latest_article a {
    color: #D0D8E0;
}
.latest_article a:visited {
    color: #D0D8E0;
}
.latest_article a:hover {
    color: #D0D8FF;
}

.latest_article .date_article {
    color: gray;
}

.latest_article p {
    font-size: small;
    color: #B0B8C0;
}

.latest_article .category_article .category_article_piece {
    color: white;
    font-size: 9pt;
    border: 1px solid #404950;
}

.latest_article .comments_count {
    color: #D09090;
}

/**********************************************************************************************
 * 他の記事へのリンク
 **********************************************************************************************/
.latest_article_lite {
    border-top: 1px solid #505860;
}

.latest_article_lite .date_article {
    color: #808890;
}

.latest_article_lite .category_article_piece {
    color: #E0E8F0;
}

.latest_article_lite .comments_count {
    color: #808890;
}

/**********************************************************************************************
 * パンくず
 **********************************************************************************************/
.contents .pankuzu {
    margin: 4px 4px 4px 4px;
    border-radius: 0 4px 0 0;
    padding: 4px 3px 4px 46px;
}

.contents .pankuzu a {
    color: #D0E0F0;
}

.contents .pankuzu a:visited {
    color: #D0E0F0;
}

.contents .pankuzu a:hover {
    color: #F0F0FF;
}

.contents .pankuzu img {
    margin: 0 10px;
}

/**********************************************************************************************
 * レイアウト
 **********************************************************************************************/
.leftpane {
    //background-color: rgba(30, 40, 50, 0.8);
    //border: 1px solid #607080;
}

.rightpane {
    /*background-color: rgba(30, 40, 50, 0.6);*/
    background-color: rgba(20, 30, 40, 0.6);
    box-shadow: 1px 1px 10px -5px rgba(0, 0, 0, 0.5);
    border: 1px solid #404850;
}

.centerpane {
    background-color: rgba(40, 48, 56, 0.8);
    border: 1px solid rgb(48, 58, 64);
}    

/**********************************************************************************************
 * メインメニュー
 **********************************************************************************************/
.mainmenu li {
    margin-left: -1px;
    margin-bottom: -1px;
}

.mainmenu li:hover {
    background-color: rgba(60, 70, 80, 0.5);
    color: #D0D8E0;
}

/**********************************************************************************************
 * TOC
 **********************************************************************************************/
.contents .toc a {
    color: #E0E8F0;
    border-bottom: 1px dotted #E0E8F0;
}

.contents .toc a:hover {
    color: #9098E0;
    border-bottom: 1px dotted #9098E0;
}

/**********************************************************************************************
 * 記事の目次
 **********************************************************************************************/
.outline {
    border: #506070 1px solid;
    background-color: rgba(60, 70, 80, 0.8);
}

.outline h3 {
    background-color: darkturquoise;
    color: white;
    border: none;
}

.outline h4 {
    border: none !important;
    background-color: rgba(0, 0, 0, 0) !important;
}

/**********************************************************************************************
 * 記事
 **********************************************************************************************/
.contents .article h4 {
    color: lightsteelblue;
    border-left: 6px solid #3090D0;
}

.contents .article hr {
    margin: 10px 0;
    border-top: 1px solid #606870;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-top: 1px solid #808890;
}

.contents .article h5 {
    color: violet;
}

.contents .article h6 {
    color: lawngreen;
}

.contents .article a {
    color: #E0E8F0;
    border-bottom: 1px dotted #E0E8F0;
}

.contents .article .outline a {
    color: #E0E8F0;
    border-bottom: none;
}

.contents .article a:hover {
    color: #9098E0;
    border-bottom: 1px dotted #9098E0;
}

.contents .article .datetime .mtime {
    color: #909090;
}

.contents .article b, .contents .article strong {
    font-weight: bold;
    font-style: normal;
    color: orange;
}

.contents .article .comment {
    font-style: italic;
    color: lightsteelblue;
    font-size: 80%;
}

.contents .article .code {
    background-color: #182028;
    border: 1px solid #283038;
    color: #B0B8C0;
}

.contents .article .code .code-header {
    background-color: #485058;
    border-radius: 3px 3px 0 0;
    color: #606870;
}

.contents .article .code .code-header h5 {
    color: #9098A0;
}

.contents .article pre .comment {
    color: #A09090;
    font-size: 100%;
    font-style: normal;
}

.contents .article blockquote {
    background-image: url("images/quote-start.png"), url("images/quote-end.png");
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
}

.contents .article .column {
    border: 1px solid #404850;
    background-color: #202830;
}

.contents .article .column p {
    color: #808890;
}

.contents .article .column h5 {
    color: #9098A0;
}

.contents .article .notice {
    color: slategray;
}

.contents .article .figure-image {
    //border-bottom: 1px solid #E0D0D0;
    border-radius: 2px;
    padding: 8px 20px;
}

.contents img.figure {
    background-color: rgba(0, 10, 20, 0.4);
    box-shadow: 1px 1px 10px -3px rgba(0, 0, 0, 0.5);
}

.contents img.figure-flat {
}

.contents .figcaption {
    color: #A0A8B0;
    font-style: italic;
}

.contents .article dt {
    color: blanchedalmond;
}

.contents .article .syntax {
    font-family: Monospace monospace mono;
    background-color: rgba(80, 90, 100, 0.4);
    border: 1px solid rgba(90, 100, 110, 0.4);
    border-radius: 8px;
}

.contents .article .sample {
    font-family: Monospace,monospace,mono;
    background-color: rgba(80, 90, 100, 0.4);
    border: 1px solid rgba(90, 100, 110, 0.4);
    border-radius: 8px;
}

/**********************************************************************************************
 * シェアボタン
 **********************************************************************************************/

.sharebuttons {
    border-top: 2px solid #404850;
}

.sharebuttons a {
    color: white;
}

.sharebuttons a:visited {
    color: white;
}

.sharebuttons button:hover {
    margin: -2px;
    border: 2px solid orange;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.3);
}

.sharebuttons img {
    box-shadow: 1px 2px 3px -0px rgba(0, 0, 0, 0.2);
}

.twitterbutton {
    background-color: #55acee;
    color: white;
}

.facebookbutton {
    background-color: #4a6ea9;
    color: white;
}

.hatenabutton {
    background-color: #2089cb;
    color: white;
}

.pocketbutton {
    background-color: #ef3e56;
    color: white;
}

.feedlybutton {
    color: white;
    padding: 0px 20px;
}

.success {
    background-color: lightgreen;
    color: #333333;
}

.failure {
    background-color: red;
}

.filetype_directory {
    font-weight: bold;
    color: royalblue;
}

.filetype_executable {
    color: red;
}

.contents span .code {
    font-family: monospace;
}

/**********************************************************************************************
 * コメント欄
 **********************************************************************************************/
.contents .comment_block {
    border-top: 2px solid #404850;
}

.comment_box {
    border-left: 3px solid slateblue;
    margin: 0px;
    padding: 10px;
}

.comment_reply .comment_box {
    border-top: 0;
    margin-left: 30px;
}


.comment_block input {
    border: 1px solid #505860;
    background-color: #303840;
    color: #D0D8E0;
    box-shadow: 1px 1px 5px -3px rgba(0, 30, 0, 0.5) inset;
}

.comment_block textarea {
    border: 1px solid #505860;
    background-color: #303840;
    color: #D0D8E0;
    box-shadow: 1px 1px 5px -3px rgba(0, 30, 0, 0.5) inset;
}

.comment_block button {
    cursor: pointer;
    border: 1px solid chocolate;
    background-color: chocolate;
    color: white;
    box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.4);
}

#comment_cancel {
    border: 1px solid #DECDCD;
    background-color: royalblue;
    color: white;
    box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.4);
}

.contents .comment .comment_user {
    color: #90D8E0;
}

.contents .comment .comment_text .sample {
    border: 1px solid #606870;
    padding: 10px;
    margin: 10px 0px;
}

.contents .comment .comment_text * {
    font-style: normal;
    color: #E0E8F0;
}
.contents .comment .comment_text h3 {
    font-size: 200%;
    font-weight: bold;
}
.contents .comment .comment_text h4 {
    font-size: 150%;
    font-weight: bold;
}
.contents .comment .comment_text h5 {
    font-size: 120%;
    font-weight: bold;
}
.contents .comment .comment_text h6 {
    font-size: 110%;
    font-weight: bold;
}
.contents .comment .comment_text p {
    margin-bottom: 20px;
    font-weight: normal;
}
.contents .comment .comment_text hr.style1 {
    margin: 10px 0;
    border-top: 1px solid #606870;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
}
.contents .comment .comment_text .code h5 {
    font-size: 80%;
    font-weight: normal;
    border: 1px solid #404850;
    background-color: rgba(100, 110, 120, 0.5);
    padding: 5px 10px;
    border-radius: 4px 4px 0 0;
    margin-bottom: -1px;
}
.contents .comment .comment_text .code pre {
    border: 1px solid #404850;
    padding: 10px;
    background-color: rgba(10, 20, 30, 0.4);
    border-radius: 0 0 4px 4px;
}
.contents .comment .comment_text .code pre {
    font-family: mono,monospace,Monospace;
}
.contents .comment .comment_text strong {
    font-style: normal;
    font-weight: bold;
    color: #F0F8FF;
}
.contents .comment .comment_text i {
    font-style: italic;
    color: #E0E8F0;
}
.contents .comment .comment_text a {
    color: #9098F0;
    padding: 3px;
    margin: -3px;
}
.contents .comment .comment_text a:hover {
    color: #9098F0;
    background-color: rgba(100, 120, 140, 0.2);
    margin: -3px;
    padding: 3px;
}
.contents .comment .comment_text blockquote {
    border-left: 3px solid #606870;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.contents .comment .comment_text blockquote blockquote {
    border-left: 3px solid #606870;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.contents .comment .comment_text blockquote p {
    margin-bottom: 0;
}
.contents .comment_block .no_comments {
    background-color: #404858;
    color: #C0C8D0;
}

.contents .comment_text .figure-image {
    border-radius: 2px;
    padding: 8px 20px;
}

.contents .comment_text img.figure {
    max-width: 80%;
}

.contents .comment_text .figcaption {
    color: #9098A0;
    font-style: italic;
}

.contents .comment_text ul, .contents .comment_text ol {
    margin-left: 1.2em;
}


/**********************************************************************************************
 * ページネーション
 **********************************************************************************************/
.contents .pagination {
    width: 100%;
    text-align: center;
}

.contents .pagination ul {
    display: inline-block;
    margin: 12px;
}

.contents .pagination .leftend {
    border-radius: 5px 0 0 5px;
    border: 1px solid #404850;
}

.contents .pagination .rightend {
    border-radius: 0 5px 5px 0;
    border-left: none;
    border-top: 1px solid #404850;
    border-bottom: 1px solid #404850;
    border-right: 1px solid #404850;
}

.contents .pagination li {
    display: inline;
    padding: 10px;
    margin: 10px 0;
    color: #D0D8E0;
    border-right: 1px solid #404850;
    border-top: 1px solid #404850;
    border-bottom: 1px solid #404850;
}

.contents .pagination li a {
    color: #D0D8E0;
}

.contents .pagination .current_page {
    background-color: #505890;
    border: 1px solid #606870;
}


/**********************************************************************************************
 * いいね/よくないねボタン
 **********************************************************************************************/
#good-button {
    cursor: pointer;
    border: 1px solid #505860;
    background-color: #505860;
    color: #D0D8E0;
    box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.4);
}

#good-button:hover {
    border: 1px solid #606870;
    background-color: #606870;
}

#good-button.goodbad-pressed {
    border: 0px solid sienna;
    background-color: sienna;
    color: white;
    box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.4) inset;
}
#good-button.goodbad-pressed:hover {
    border: 0px solid indianred;
    background-color: indianred;
    color: white;
    box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.4) inset;
}
#bad-button {
    cursor: pointer;
    border: 1px solid #505860;
    background-color: #505860;
    color: #D0D8E0;
    box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.4);
}
#bad-button:hover {
    border: 1px solid #606870;
    background-color: #606870;
}
#bad-button.goodbad-pressed {
    border: 0px solid mediumorchid;
    background-color: mediumorchid;
    color: white;
    box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.4) inset;
}
#bad-button.goodbad-pressed:hover {
    border: 0px solid orchid;
    background-color: orchid;
}


/**********************************************************************************************
 * フッター
 **********************************************************************************************/
.footer {
    background-color: rgba(50, 55, 60, 1.0);
    border: 1px solid #404850;
    box-shadow: 1px 1px 10px -5px rgba(0, 0, 0, 0.5) inset;
    color: #9098A0;
}

.footer-inner h5 a:hover {
    border-bottom: 3px solid #C09090;
}

/**********************************************************************************************
 * メモ帳
 **********************************************************************************************/

#memo_text {
    background-color: #404850;
    color: #D0D8E8;
}

.submit_memo {
    background-color: chocolate;
    border: darkred;
    margin: 10px;
    padding: 5px 10px;
    font-size: large;
}

