/**********************************************************************************************
 * 全体
 **********************************************************************************************/
body {
    color: black;
    background-color: #F0F4F8;
    font-family: sans-serif;
}

a {
    color: black;
    text-decoration: none;
    word-break: break-all;
    margin-bottom: -1px;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
}

p {
    text-indent: 1em each-line;
}

.code-span {
    font-family: monospace;
    color: black;
    font-weight: bold;
    margin: 3px;
    padding: 1px 3px;
}

.come {
    color: black;
    font-size: 80%;
}

/**********************************************************************************************
 * ヘッダー
 **********************************************************************************************/
.header {
    background-color: #404850;
    /*border-bottom: 2px solid #1068B0;*/
    color: black;
}

.header h1 {
    color: black;
    font-size: x-large;
    font-weight: normal;
    font-style: normal;
    display: inline;
    white-space
}

.header p {
    font-size: small;
    margin: 5px 0;
}

.header h1 a {
    color: black;
}

.header h1 a:visited {
    color: black;
}

.header h1 a:hover {
    color: black;
}

.header .header-inner .twitter_main_button {
    float: right;
}

.header .header-inner h1 img {
    height: 28px;
    margin-bottom: -12px;
}

.contents {
    /*background-image: url("../images/bgsand2.png");*/
    background-color: #F0F4F8;
}

/**********************************************************************************************
 * ナビ
 **********************************************************************************************/
.contents .nav {
    
    
}

.contents .nav h3 {
    color: #D0D8E0;
    background-color: #303840;
    padding: 6px 3px 6px 12px;
}

.contents .nav ul {
    list-style: none;
}

.contents .nav ul li h4.toc-category {
    /*background-image: url("../images/toch4bg.png");*/
    background-color: #C0C8D0;
    color: #407090;
}

.contents .nav ul li ul {
    list-style-image: url('../images/listmark1.png');
    list-style-position: inside;
}

.contents .nav ul li ul li {
    padding: 8px 14px;
}

.contents .nav a {
    color: #404040;
}

.contents .nav a:hover {
    color: #404040;
    border-bottom: dotted 1px #404040;
}

.contents .nav .category_article a {
    color: #DDDDDD;
}

.contents .nav .category_article a:hover {
    color: #FFFFFF;
    border-bottom: dotted 1px #111111;
}

.contents .nav .datetime {
    font-size: small;
    color: black;
}

/**********************************************************************************************
 * レイアウト要素
 **********************************************************************************************/
img.topimage {
    position: absolute;
    bottom: 10px;
    right: 10px
}


/**********************************************************************************************
 * 最近の記事
 **********************************************************************************************/
.latest_article {
    
}

.latest_article h5 {
    font-size: medium;
    font-weight: bold;
}
    
.latest_article a {
    color: black;
}
.latest_article a:visited {
    color: black;
}
.latest_article a:hover {
    color: black;
}

.latest_article .date_article {
    color: black;
}

.latest_article p {
    font-size: small;
    color: black;
}

.latest_article .category_article .category_article_piece {
    font-size: 9pt;
    
}

.latest_article .comments_count {
    color: #303030;
}

/**********************************************************************************************
 * 他の記事へのリンク
 **********************************************************************************************/
.latest_article_lite {
}

.latest_article_lite .date_article {
}

.latest_article_lite .category_article_piece {
}

.latest_article_lite .comments_count {
    color: #303030;
}

/**********************************************************************************************
 * パンくず
 **********************************************************************************************/
.contents .pankuzu {
    margin: 4px 4px 4px 4px;
    
    padding: 4px 3px 4px 46px;
}

.contents .pankuzu a {
    color: black;
}

.contents .pankuzu a:visited {
    color: black;
}

.contents .pankuzu a:hover {
    color: black;
}

.contents .pankuzu img {
    margin: 0 10px;
}

/**********************************************************************************************
 * レイアウト
 **********************************************************************************************/
.leftpane {
}

.rightpane {
    background-color: white;
}

.centerpane {
    background-color: white;
}    

/**********************************************************************************************
 * メインメニュー
 **********************************************************************************************/
.mainmenu li {
    margin-left: -1px;
    margin-bottom: -1px;
}

.mainmenu li:hover {
    color: black;
}

/**********************************************************************************************
 * TOC
 **********************************************************************************************/
.contents .toc a {
    color: black;
    
}

.contents .toc a:hover {
    color: black;
    
}

/**********************************************************************************************
 * 記事の目次
 **********************************************************************************************/
.outline {
    padding-top: 8px;
    border: 1px solid lightsteelblue;
    background-color: lavender;
}

.outline h3 {
    color: black;
    
}

.outline h4 {
    
}

/**********************************************************************************************
 * 記事
 **********************************************************************************************/
.contents .article h4 {
    color: black;
}

.contents .article hr {
    margin: 10px 0;
}

.contents .article h5 {
    color: black;
}

.contents .article h6 {
    color: black;
}

.contents .article a {
    color: indigo;
    border-bottom: dotted 1px indigo;
}

.contents .article .outline a {
    color: black;
    
}

.contents .article a:hover {
    color: royalblue;
    border-bottom: dotted 1px royalblue;
}

.contents .article .datetime .mtime {
    color: black;
}

.contents .article b, .contents .article strong {
    font-weight: bold;
    font-style: normal;
    color: black;
}

.contents .article .comment {
    font-style: italic;
    color: black;
    font-size: 80%;
}

.contents .article .code {
    
}

.contents .article .code .code-header {
    background-color: mediumseagreen;
    color: #E0E8F0;
}

.contents .article .code .code-header h5 {
    color: #E0E8F0;
}

.contents .article .code pre {
    background-color: #404850;
    color: #DDDDDD;
    font-size: medium;
}

.contents .article .code pre strong {
    color: orange;
}
.contents .article .code pre b {
    color: orange;
}

.contents .article pre .comment {
    font-size: 100%;
    font-style: normal;
}

.contents .article blockquote {
    background-image: url("../images/quote-start.png"), url("../images/quote-end.png");
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
}

.contents .article .column {
    
    background-color: white;
}

.contents .article .column p {
    color: black;
}

.contents .article .column h5 {
    color: black;
}

.contents .article .notice {
    color: black;
}

.contents .article .figure-image {
    //
    
    padding: 8px 20px;
}

.contents img.figure {
    background-color: white;
    
}

.contents img.figure-flat {
}

.contents .figcaption {
    color: black;
    font-style: italic;
}

.contents .article dt {
    color: black;
}

.contents .article .syntax {
    font-family: Monospace monospace mono;
    background-color: white;
    
    
}

.contents .article .sample {
    font-family: Monospace,monospace,mono;
/*
    background-color: #404850;
    color: #D0D8E0;
*/
    border: 2px solid #909294;
}

.article table.diff {
    border: 0;
}

.article table.diff thead td {
    padding: 5px 10px;
    background-color: mediumseagreen;
    color: white;
}

.article table.diff td {
    margin: 0;
    padding: 0;
}

.article table.diff thead td {
    border: 1px solid mediumseagreen;
}

.article table.diff tbody td {
    border: 1px solid #707880;
}

.article table.diff .code {
    margin: 0;
    padding: 0;
}

.article table.diff .code pre {
    border-radius: 0 !important;
}

/**********************************************************************************************
 * シェアボタン
 **********************************************************************************************/

.sharebuttons {
    
}

.sharebuttons a {
    color: black;
}

.sharebuttons a:visited {
    color: black;
}

.sharebuttons button:hover {
    margin: -2px;
    
    
}

.sharebuttons img {
    
}

.success {
    background-color: white;
    color: black;
}

.failure {
    background-color: white;
}

.filetype_directory {
    font-weight: bold;
    color: royalblue;
}

.filetype_executable {
    color: tomato;
}

.contents span .code {
    font-family: monospace;
}

#look-comments {
    text-align: center;
}

#look-comments-link > a {
    background-color: #CCDDDD;
    padding: 8px;
    border-radius: 100px;
    color: #226677;
}

/**********************************************************************************************
 * コメント欄
 **********************************************************************************************/
.contents .comment_block {
    
}

.comment_box {
    
    margin: 0px;
    padding: 0px;
}

.comment_reply .comment_box {
    
    margin-left: 30px;
}


.comment_block input {
    border: 1px solid #A0B0C0;
    border-radius: 3px;
    background-color: white;
    color: black;
    
}

.comment_block textarea {
    border: 1px solid #A0B0C0;
    border-radius: 3px;
    background-color: white;
    color: black;
    
}

.comment_block button {
    cursor: pointer;
    border: 0;
    background-color: tomato;
    color: white;
    
}

#comment_cancel {
    background-color: mediumorchid;
    color: white;
    
}

.contents .comment .comment_header {
    border-bottom: 2px solid lightblue;
    padding-bottom: 8px;
}

.contents .comment .comment_user {
    color: black;
}

.contents .comment_block .no_comments {
    background-color: white;
    color: black;
}

/*
.contents .comment_post .comment_text .sample {
    background-color: #606060;
    color: #DDDDDD;
    padding: 10px;
    margin: 10px 0px;
}

.contents .comment_post .comment_text * {
    font-style: normal;
    color: black;
}
.contents .comment_post .comment_text h3 {
    font-size: 200%;
    font-weight: bold;
}
.contents .comment_post .comment_text h4 {
    font-size: 150%;
    font-weight: bold;
}
.contents .comment_post .comment_text h5 {
    font-size: 120%;
    font-weight: bold;
}
.contents .comment_post .comment_text h6 {
    font-size: 110%;
    font-weight: bold;
}
.contents .comment_post .comment_text p {
    margin-bottom: 20px;
    font-weight: normal;
}
.contents .comment_post .comment_text hr.style1 {
    margin: 10px 0;
    color: #FFFFFF;
}
.contents .comment_post .comment_text .code h5 {
    font-size: 80%;
    font-weight: normal;
    color: #E0E8F0;
    padding: 5px 10px;
    margin-bottom: -1px;
}
.contents .comment_post .comment_text .code pre {
    background-color: #404850;
    color: #DDDDDD;
    font-size: medium;
    font-family: mono,monospace,Monospace;
}
.contents .comment_post .comment_text b {
    font-style: normal;
    font-weight: bold;
    color: orange;
}
.contents .comment_post .comment_text i {
    font-style: italic;
}
.contents .comment_post .comment_text a {
    padding: 3px;
    margin: -3px;
}
.contents .comment_post .comment_text a:hover {
    background-color: white;
    margin: -3px;
    padding: 3px;
}
.contents .comment_post .comment_text blockquote {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-left: 2px solid royalblue;
}
.contents .comment_post .comment_text blockquote blockquote {
    
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.contents .comment_post .comment_text blockquote p {
    margin-bottom: 0;
}

.contents .comment_text .figure-image {
    
    padding: 8px 20px;
}

.contents .comment_text img.figure {
    max-width: 80%;
}

.contents .comment_text .figcaption {
    color: black;
    font-style: italic;
}

.contents .comment_text ul, .contents .comment_text ol {
    margin-left: 1.2em;
}
*/

/**********************************************************************************************
 * ページネーション
 **********************************************************************************************/
.contents .pagination {
    width: 100%;
    text-align: center;
}

.contents .pagination ul {
    display: inline-block;
    margin: 12px;
}

.contents .pagination .leftend {
    
    
}

.contents .pagination .rightend {
    
    
    
    
    
}

.contents .pagination li {
    display: inline;
    padding: 10px;
    margin: 10px 0;
    color: black;
    
    
    
}

.contents .pagination li a {
    color: black;
}

.contents .pagination .current_page {
    background-color: white;
    
}


/**********************************************************************************************
 * いいね/よくないねボタン
 **********************************************************************************************/
#good-button {
    cursor: pointer;
    background-color: #A0A0A0;
    color: white;
    border: 0;
}

#good-button:hover {
    background-color: tomato;
    border: 0;
}

#good-button.goodbad-pressed {
    border: 0;
    
    background-color: tomato;
    color: white;
    
}
#good-button.goodbad-pressed:hover {
    border: 0;
    
    background-color: tomato;
    color: white;
    
}
#bad-button {
    border: 0;
    cursor: pointer;
    background-color: #A0A0A0;
    color: white;
    
}
#bad-button:hover {
    background-color: magenta;
    border: 0;
}
#bad-button.goodbad-pressed {
    
    border: 0;
    background-color: magenta;
    color: white;
    
}
#bad-button.goodbad-pressed:hover {
    
    border: 0;
    background-color: magenta;
}


/**********************************************************************************************
 * フッター
 **********************************************************************************************/
.footer {
    background-color: #D0D8E0;
    color: #698A9B;
}

.footer a {
    color: #99AABB;
}

.footer a:hover {
    color: white;
}

.footer-inner h5 a:hover {
}

/**********************************************************************************************
 * メモ帳
 **********************************************************************************************/

#memo_text {
    background-color: white;
    color: black;
}

.submit_memo {
    background-color: white;
    
    margin: 10px;
    padding: 5px 10px;
    font-size: large;
}

/**********************************************************************************************
 * シンタックスハイライター
 **********************************************************************************************/
/* キーワード */
div.code .kw {
    color: orange;
    font-weight: bold;
}
/* 文字列 */
div.code .str {
    color: limegreen;
}
/* コメント */
div.code .cmt {
    color: #778899;
}
/* ディレクティブ */
div.code .dcv {
    color: violet;
}
/* プロンプト */
div.code .ppt {
    color: limegreen;
    font-weight: bold;
}
/* 型・クラス */
div.code .cls {
    color: deepskyblue;
}
/* 関数・メソッド */
div.code .fnc {
    color: salmon;
}

    
